@model Firma.Data.Models.Recenzja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recenzja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produkt.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
