@model IEnumerable<Firma.Data.Models.Wiadomosc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWiadomosci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DotyczyRezerwacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailNadawcy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImieNazwiskoNadawcy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWiadomosci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DotyczyRezerwacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailNadawcy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImieNazwiskoNadawcy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
