@model Firma.Data.Models.Faktura

@{
    ViewData["Title"] = "Kasowanie";
}

<h1>Kasowanie</h1>

<h3>Czy jesteś pewny, że chcesz usunąć ten rekord?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataWystawienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWystawienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kwota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kwota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Klient.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uwagi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uwagi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="Index" style="margin-top: 5px;">
            <button type="button" class="btn btn-primary">Anuluj</button>
        </a>
    </form>
</div>
