@{
    ViewData["Title"] = "O nas";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>O nas</h1>
            <p>@Html.Raw(Model.Onas)</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Nasza misja</h2>
            <p>@Html.Raw(Model.NaszaMisja)</p>
        </div>

        <div class="col-md-6">
            <h2>Nasze usługi</h2>
            <p>@Html.Raw(Model.NaszeUslugi)</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 text-center">
            <h2>Nasz zespół</h2>
            <p>@Html.Raw(Model.NaszZespol)</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2>Dlaczego warto z nami współpracować?</h2>
            <p>@Html.Raw(Model.Onas)</p>
        </div>
    </div>
</div>
